{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %} %}

{% block app_content %}

    <div class="row">
        <div class="col-md-4 offset-md-4">
            <br>
            <h1>About our Company</h1>
            <p>The eBay Dashboard is a COMP 205 project suggested by Peter Mankiewich and created by Peter, Cristian Cantoral and Christine McKinnie as their final project.
            <br><br>This project was proposed to try and help eBay sellers organize inventory and manage finances and sales. </p>
        </div>
    </div>
{% endblock %}