{% extends "bootstrap/base.html" %}

{% block title %}
    {% if title %}{{ title }} - eBay Dashboard{% else %}Welcome to eBay Dashboard{% endif %}
{% endblock %}


{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/index">eBay Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
         {% if current_user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href={{  url_for('index') }}>Dashboard</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href={{ url_for('logout') }}>Logout</a>
      </li>
        </li>
         {% endif %}
    {% if not current_user.is_authenticated %}
        <li class="nav-item">
        <a class="nav-link" href={{ url_for('register') }}>Register</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{{ url_for('features') }}">Features</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{{ url_for('pricing') }}">Pricing</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{{ url_for('about') }}">About</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href={{ url_for('login') }}>Login</a>
      </li>
     {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
    <div class="container-fluid">
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success" role="alert">
        {{ message }}
        </div>
    {% endfor %}

{% endif %}
{% endwith %}
    </div>

    {% if current_user.is_authenticated %}
    <div class="container-fluid border-right border-dark col-2 float-left">
    <div class="row nav-fill nav-pills">
        <ul class="text-center">
            <br>
            <a class="nav-link active" href={{ url_for('inventory') }}>Inventory</a>
            <br>
            <a class="nav-link active" href={{ url_for('watchlist') }}>Watch List</a>
            <br>
            <a class="nav-link active" href="#">Listing</a>
            <br>
            <a class="nav-link active" href={{ url_for('search')}}>Compare Prices</a>
            <br>
            <a class="nav-link active" href="#">Account Settings</a>
            <br>
        </ul>

    </div>
    </div>
    {% endif %}
    {% block app_content %} {% endblock %}



{% endblock %}
