{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %} %}

{% block app_content %}

    <div class="row">
        <div class="col-md-4 offset-md-4">
            <br>
            <h1>Contact</h1>
            <h5>
                Interested in contacting the team?
            </h5>
            <p>Contact Peter at <a href="mailto:pmankiewich@ithaca.edu">pmankiewich@ithaca.edu</a></p>
            <p>Contact Cristian at <a href="mailto:ccantoral@ithaca.edu">ccantoral@ithaca.edu</a></p>
            <p>Contact Christine at <a href="mailto:cmckinnie@ithaca.edu">cmckinnie@ithaca.edu</a></p>
        </div>
    </div>
{% endblock %}
