{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %} %}

{% block app_content %}

    <div class="row">
        <div class="col-md-4 offset-md-4">
            <br>
            <h1>Features</h1>
            <p>
                This app is designed to help large volume sellers on eBay more efficiently manage their sales, inventory and financials.
            <br>
                <br>
                Some features include:
            <ul>
            <li>Management of Inventory</li>
            <li>Creating a watchlist</li>
            <li>Price comparison</li>
        </ul>
            </p>
        </div>
    </div>
{% endblock %}