{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

    <br>
    <h1> Listings </h1>
    <br>
              <table class="table ">
                <thead class="thead-light">
                 <tr>
                  <th scope="col">Item Name</th>
                  <th scope="col">Item Price</th>
                  <th scope="col">Action</th>
                </tr>
                </thead>
                  <tbody>

                  {% if item_count > 0 %}
                  {% for item in items %}
                  <tr>
                      <td class="pt-4">{{ item.item_name }}</td>
                      <td class="pt-4">$.{{ item.item_price }}</td>
                      <td>
                          <form class="float-left" action="/deleteItem" name="item-inventory">
                            <input type="hidden" type="text" id="item_id" name="item_id" value="{{ item.id }}">
                            <input type="submit" value="Delete" class="btn btn-info float-right">
                        </form>
                      </td>
                  </tr>
                  </tbody>

            {%  endfor %}

            {% else %}
                <h3> No Items Stored</h3>

            {% endif %}
                </table>


        </div>
    </div>
       </div>
{% endblock %}