{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


    {% block app_content %}

        <br>
        <h1> Listings </h1>
        <br>
        <div class="row">
            <div class="col-md offset-md-1" >

                <h2>Item - Price</h2>
                {% for item in items %}

                    <ul class="list-group list-group-flush col-md-3">
                    <li class="list-group-item">{{ item.item_name }}  - ${{ item.item_price }} <button type="button" class="btn btn-success float-right">List</button></li>
                    </ul>
                {% endfor %}

            </div>
        </div>

    {% endblock %}